.clock-hand {
  width: 1px;
  height: calc(var(--clock-width) / 2);
  background-color: black;
  transform-origin: bottom;
  transition: transform 200ms;
}

.no-transition {
  transition: none !important;
}
