.clock-hand {
  width: 1px;
  height: calc(var(--clock-width) / 2);
  background-color: black;
  transform-origin: top;
  transition: transform 200ms;
}

.no-transition {
  transition: none !important;
}

.hand-container {
  transform-origin: top;
  transform: rotateX(180deg) rotateY(180deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

.hour-hand {
  width: 5px;
  height: calc(var(--clock-width) / 2.5);
  background-color: red;
}

.minute-hand {
  width: 2px;
  height: calc(var(--clock-width) / 2.25);
  background-color: blue;
}
